<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <center>
         <h1>This is Gen1 Html File</h1>
         <a href="{% url 'Gen2' %}"><h1>Response Of Gen2 File</h1></a>
         <a href="{% url 'Specific:Spe1' %}"><h1>Response Of Spe1 File</h1></a>
         <a href="{% url 'Specific:Spe2' %}"><h1>Response Of Spe2 File</h1></a>
       </center>
</body>
</html>